.table-container {
  margin-top: 20px; /* 테이블과 헤더 사이의 간격 조정 */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc; /* 셀 테두리 스타일 */
  padding: 8px; /* 셀 안의 내용과 테두리 사이의 간격 */
}

.custom-table th {
  background-color: #f2f2f2; /* 헤더 배경색 */
  color: #333; /* 헤더 텍스트 색상 */
  font-weight: bold; /* 헤더 텍스트 굵게 */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* 짝수 행 배경색 */
}

.custom-table tbody tr:hover {
  background-color: #eaeaea; /* 마우스 호버 시 배경색 변경 */
}
.TableTitleList {
  background-color: #d32626;
}

/* .list_type.typeList  */
.list_type.typeList .th_style {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid #545454;
  border-bottom: 10px solid #E9E9E9;
  background-color: #F8F8F8;
  position: relative;
  width: 90%;
  padding: 20px;
}

.list_type .th_style {
  display: none;
}
ul, ol, li, dd {
  list-style: none;
}

.list_type.typeList {
  margin-bottom: 24px;
}

.list_type {
  margin-bottom: 40px;
}
.list_type.typeList {
  display: flex;
  flex-direction: column; /* 세로로 배열 */
}

.title-list-container {
  display: flex; /* 타이틀 리스트만 수평 배열 */
}

.data-list-container {
  width: 90%; 
}

.data-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.card-style {
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: "0px 0px 4px grey";
}